$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #b0b0b0 !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #152c5b !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #2749de !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ff2222 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #2dac00 !default;
$teal: #499ca8 !default;
$cyan: #17a2b8 !default;
