@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
@import "print";
// Logo Icon 
.brand-text-icon {
    font-size: 26px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: $primary;
    &:hover {
        text-decoration: none;
        color: $primary;
    }
}

header {
    border-bottom: 1px solid $gray-200;
    width: 100%;
    position: relative;
    .navbar {
        height: 80px;
        ul.navbar-nav {
            li.nav-item {
                &.active {
                    a.nav-link {
                        color: $primary;
                    }
                }
                a {
                    &.nav-link {
                        letter-spacing: 1px;
                        color: $gray-900;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}