@import 'color-variables.scss';
@import 'functions';
@import 'variables';
@import 'mixins';
@import 'root';
@import 'reboot';
@import 'type';
@import 'images';
@import 'code';
@import 'grid';
@import 'container-grid'; //own style
@import 'tables';
@import 'forms';
@import 'buttons';
@import 'transitions';
@import 'dropdown';
@import 'button-group';
@import 'input-group';
@import 'custom-forms';
@import 'nav';
@import 'navbar';
@import 'card';
@import 'breadcrumb';
@import 'pagination';
@import 'badge';
@import 'jumbotron';
@import 'alert';
@import 'progress';
@import 'media';
@import 'list-group';
@import 'close';
@import 'modal';
@import 'tooltip';
@import 'popover';
@import 'carousel';
@import 'utilities';
@import 'print';
// Logo Icon
.brand-text-icon {
  font-size: 26px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: $primary;
  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

header {
  border-bottom: 1px solid $gray-200;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  .navbar {
    height: 80px;
    ul.navbar-nav {
      li.nav-item {
        &.active {
          a.nav-link {
            color: $primary;
          }
        }
        a {
          &.nav-link {
            letter-spacing: 1px;
            color: $gray-900;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

section {
  margin-bottom: 70px;
}

.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-contain {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

// ==== Categories and Most Picked Section Start ====
.card {
  height: 100%;
  .tag {
    z-index: 3;
    font-size: 0.875rem;
    background-color: $teal;
    padding: 0.25rem 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
    color: $white;
    min-height: 30px;
    border-radius: 0 15px;
    span {
      font-weight: 300;
    }
  }
  .img-wrapper {
    height: 100%;
    margin-bottom: 0;
    border-radius: 0.9375rem;
    overflow: hidden;
  }
  .meta-wrapper {
    margin-top: 1rem;
    h5 {
      font-size: 1.125rem;
      margin-bottom: 2px;
      font-weight: bold;
    }
    span {
      font-size: 0.875rem;
    }
  }
  &.card-featured {
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    border-radius: 15px;
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(1.1);
      transition: 0.5s transform ease-in-out;
      z-index: 2;
      @include gradient-y(rgba($black, 0), rgba($black, 0.51), 0%, 100%);
    }
    .img-wrapper {
      z-index: 1;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(1.1);
      transition: 0.25s transform ease-in-out;
      border-radius: 15px;
    }
    .meta-wrapper {
      z-index: 4;
      color: $white;
      padding: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      transform: translateY(0);
      transition: 0.3s transform ease-in-out;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
    &:hover {
      .meta-wrapper {
        transform: translateY(-10px);
      }
      &:after {
        transform: scale(1);
      }
      .img-wrapper {
        transform: scale(1);
      }
    }
  }
}
// ==== Categories Section End ====

.testimonial-hero,
.testimonial-hero img {
  width: 365px;
  height: 500px;
}

// ==== Footer Section Start ====
footer {
  border-top: 1px solid $gray-200;
  padding-top: 50px;

  .brand-tagline {
    color: $gray-400;
    font-weight: 300;
    margin-top: 8px;
  }

  .list-group-item {
    // padding-top: 0.3125rem;
    padding: 0.3125rem 0 0 0;
    border: 0;
    margin-bottom: 9px;

    a,
    span {
      color: $gray-500;
      font-weight: 300;
    }

    a {
      @include hover-focus {
        color: $gray-800;
      }
    }
  }

  .copyrights {
    margin: 50px 0;
    font-weight: 300;
    color: $gray-500;
  }
}
// ==== Footer Section End ====
